body{
    scroll-behavior: smooth;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    /* padding: 0 15px; */
    overflow: hidden;
}

/* .spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#ADFF2F 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#ADFF2F);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-c7wet2 1s infinite linear;
} */

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  
  /* #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #165cd4;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  } */
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.boxshadow{
    background-color: rgba(27, 39, 53, 0.5);
    border-radius: 20px;
}

.resume:hover{
    background: #ADFF2F;
    color: #000;
    border: 1px solid #ADFF2F;
    transform: scale(1.1);
}
.resume:hover:active{
    background: #ADFF2F;
    border:1px solid #ADFF2F;
    color: Black;
}
.resume{
    background: #ADFF2F;
    transition: all .3s ease-in-out;
}

.sourceCode:hover{
    transform: scale(1.1);
    background: #000000;
}
.sourceCode:hover:active{
    background: #000000;
    border:1px solid #000000;
    color: #fff;
}
.sourceCode{
    background: #000000;
    transition: all .3s ease-in-out;
    color: #fff;
}
.jakepic{
  filter:drop-shadow(16px 12px 2px #00000080) brightness(1.1);
}
.profilepic{
  border: 1px solid white;
  border-radius: 65%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  filter:drop-shadow(8px 6px 4px #ff995080);
  box-shadow: 20px 12px 8px #ff995080;
}

@media (max-width: 414px) {
  .profilepic{
    width: 100%;
    height: 33%;
  }
}

/* mobile  */
@media (min-width: 415px) and (max-width: 768px) {
  .profilepic {
    width: 100%;
    height: 66%;
  }
}

::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
    height: 12px; /* Set the height of the scrollbar */
}

/* Change the background color of the scrollbar */
::-webkit-scrollbar-track {
background: rgba(34, 51, 34, 0.4);
}

/* Change the color and radius of the scrollbar thumb */
::-webkit-scrollbar-thumb {
background: greenyellow;
border-radius: 5px;
}

/* Change the color and radius of the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
background: greenyellow;
border-radius: 6px;
}

*{
    font-family:'Trebuchet MS';
    color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
}
.nav-link{
    color: white;
    font-size: 1rem;
    position: relative;
}
a::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
}
ul li a:hover::after{
    opacity: 1;
}
.nav-link:hover{
    color: rgb(255, 255, 255);
}
.nav-link.active{
    background-color: greenyellow;
    border: none;
    color:rgb(0, 0, 0);
    transition: all linear 0.2s;
    padding: 7px;
}

p{
    text-indent: 50px;
    letter-spacing: 1px;
}

.navbar{
    z-index: 1000;
    position: fixed;
    transition: all 0.2s;
    width: 100%;
}


.navbar.sticky{
    background-color: rgba(38, 38, 38, 0.7);
    margin: 0;
    padding: 0px;
}

.details{
    margin-top: 120px;
}
h1 {
    color: greenyellow !important;
}

.bars {
padding-top: 40px;
text-shadow: 5px 4px 10px rgb(26, 24, 22);
}

.footer{
    height: 13vh;
    position: relative;
}
.footersize{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}
.social{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 10px;
}

.social .fa-brands{
  font-size: 30px;
  position: relative !important;
  transition: all .3s ease-in-out;
}
.social .fa-brands:hover{
  position: absolute;
  /* color: #ADFF2F; */
  transform: scale(1.1);
}

.text-paragraph{
    text-align: justify;
}

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color: rgba(82, 82, 82, 0.1);
    /* box-shadow: 10px 10px 10px rgb(31, 26, 26); */
    /* margin-left: 5px; */
    padding: 15px 25px;
    border-radius: 50px;
}
.atropos-inner{
  border-radius: 50px;
}

.lg{
    margin-left: 40px;
}

.hidden{
    overflow: hidden;
    opacity: 0;
    filter: blur(1px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
}

section{
  margin: 0 10px;
}

.progress {
  width: 100%;
  height: 100px;
  background: none;
}

.progress svg{
  margin: 10px;
  overflow: visible;
}

.bar {
  background: #ffffff;
  height: 50px;
  width:0%;
  opacity:0.5;
}

.previewpic img{
  border-radius: 10px !important;
}

.lang img{
  height: 20px;
  width: auto;
  margin-left: -10px ;
}
.lang .customicon{
  margin-left: -10px ;
}

html * {
  font-family: "Montserrat", sans-serif ;
}